.projects-area {
  color: white;
  padding: 10vh;
}

#projects-sub-header {
  text-align: center;
}

.project-area-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: left;
  overflow: hidden;
}

.huddle-project, .netflix-project {
  padding: 2.5vw;
}

#huddle-img, #netflix-img {
  padding: 5vw;
  width: 50vw;
  height: 25vw;
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(1px);
  transform: translateY(-10%);
  transition: all 1.7s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
